
.prevBtn{
    background-color: #fff;
}

.underLine{
    height: 1px;
    background: rgb(178, 174, 174);
    width: 100vw;
}

.noteHeader{
    display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        width: 90%;
}

@media( max-width:431px) {

    .noteHeadLine{
        font-size: 26px;
    }

#root{
    height: 100vh;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}
body{
    width: 98vw;
    height: 100vh;
}
}

.addNote{
    align-self: end;
    .AddNoteBtn{
        background-color:#4E61F6;
        color: #fff;
        border-radius: 0.8rem;
        font-size: 18px;
        padding: 1rem;
        box-sizing: border-box;
        margin-top: 0.8rem;
    }
}

.addNoteContainer{
    display: flex;
    justify-content: end;
}